.swipers {
  .swiper-pagination {
    .swiper-pagination-bullet-active {
      background: $bg-white !important;
    }

    .swiper-pagination-bullet {
      background: transparent;
      border: 1px solid $light;
      opacity: unset;
      width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 14px));
      height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 14px));
    }
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 30px);
  }
}

.swiper-jumbotron {
  width: 100%;
  height: 100vh;
  position: relative;

  .slide {
    background-position: left !important;
    background-size: cover !important;
    color: $text-white;
    width: 100%;
    height: 100vh;
    position: relative;
    float: left;

    .row-padre {
      min-height: 100vh !important;

      & > div:first-child {
        height: 60vh;
      }

      & > div:last-child {
        height: 40vh;
      }
    }

    h1 {
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: -2px;
      line-height: 3rem;

      strong {
        font-size: 4rem;
      }

      span {
        color: $text-white;
      }
    }

    img {
      max-width: 300px;
    }

    .overlay {
      background-color: rgba(0,0,0,0.1);
      width: 100%;
      height: 100%;
      padding: 0 30px;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: left;
      align-items: center;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {

}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  /*
  .swiper-jumbotron {
    height: 60vh;

    .slide {
      height: 60vh;
    }
  }
  */
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  .swiper-jumbotron {
    // height: 80vh;

    .slide {
      background-position: center !important;
      // height: 80vh;

      h1 {
        font-size: 3rem;
        letter-spacing: -2px;
        line-height: 3rem;

        strong {
          font-size: 5rem;
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
  
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
  .swiper-jumbotron {
    .slide {
      .overlay {
        padding: 0 100px;
      }
    }
  }
}