.swipers {
  .swiper-pagination {
    .swiper-pagination-bullet-active {
      background: $bg-white !important;
    }

    .swiper-pagination-bullet {
      background: transparent;
      border: 1px solid $light;
      opacity: unset;
      width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 14px));
      height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 14px));
    }
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 30px);
  }
}

.swiper-jumbotron {
  width: 100%;
  // height: 60vh;
  position: relative;

  .swiper-wrapper,
  .swipper-slide {
    height: 100%;
  }

  .swiper-slide {
    width: 100%;
    overflow: hidden;

    video {
      width: 100%; 
      height: auto;
    }
  }

  .slide {
    background-position: left !important;
    background-size: cover !important;
    color: $text-white;
    width: 100%;
    // height: 60vh;
    position: relative;
    float: left;
    overflow: hidden;

    .row-padre {
      min-height: 60vh !important;

      & > div:first-child {
        height: 24vh;
      }

      & > div:last-child {
        height: 36vh;
      }
    }

    h1 {
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: -2px;
      line-height: 3rem;

      strong {
        font-size: 4rem;
      }

      span {
        color: $text-white;
      }
    }

    img {
      position: relative;
    }

    .circle {
      img {
        min-width: 150px;
        left: -22px;
      }
    }

    .square {
      img {
        min-width: 116px;
        top: -36px;
        left: -36px;
      }
    }

    .milks {      
      img {
        min-width: 74px;
      }

      #milk-1,
      #milk-2 {
        left: -12px;
      }

      #milk-1 {
        min-width: 100px;
        top: -8px;
      }

      #milk-2 {
        min-width: 120px;
        top: -28px;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
  .swiper-jumbotron {
    .slide {
      .circle {
        img {
          min-width: 222px;
          top: -44px;
          left: -24px;
        }
      }

      .square {
        img {
          min-width: 168px;
          top: -124px;
          left: -46px;
        }
      }

      .milks {
        img {
          min-width: 106px;
          top: -44px;
          left: -18px;
        }
  
        #milk-1,
        #milk-2 {
          left: -24px;
        }
  
        #milk-1 {
          min-width: 146px;
          top: -53px;
        }
  
        #milk-2 {
          min-width: 170px;
          top: -70px;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  .swiper-jumbotron {
    // height: 80vh;

    .slide {
      // height: 80vh;

      .row-padre {
        min-height: 60vh !important;
  
        & > div:first-child {
          height: 20vh;
        }
  
        & > div:last-child {
          height: 50vh;
        }
      }

      .circle {
        img {
          min-width: 244px;
          left: 0px;
          top: -72px;
        }

        #circle-1 {
          left: 84px;
        }

        #circle-2 {
          
        }

        #circle-3 {
          left: -84px;
        }
      }

      .square {
        img {
          min-width: 190px;
          top: -160px;
          left: -44px;
        }
      }

      .milks {
        img {
          min-width: 112px;
          top: -44px;
          left: -18px;
        }
  
        #milk-1,
        #milk-2 {
          left: 30px;
        }
  
        #milk-1 {
          min-width: 174px;
          top: -80px;
        }
  
        #milk-2 {
          min-width: 200px;
          top: -94px;
        }

        #milk-3 {
          left: 80px;
        }

        #milk-4 {
          left: 40px;
        }

        #milk-5 {
          left: 0;
        }

        #milk-6 {
          left: -40px;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  .swiper-jumbotron {
    // height: 80vh;

    .slide {
      background-position: center !important;
      // height: 80vh;

      .row-padre {
        & > div:first-child {
          height: 80vh;
        }
  
        & > div:last-child {
          height: 80vh;

          .row {
            // height: 30vh;
          }
        }

        .milks {
          height: 60vh !important;
        }
      }

      h1 {
        font-size: 3rem;
        letter-spacing: -2px;
        line-height: 3rem;

        strong {
          font-size: 5rem;
        }
      }

      .circle {        
        img {
          min-width: 226px;
          top: 132px;
          left: 0;
        }

        #circle-1 {
          left: 84px;
        }

        #circle-2 {
          
        }

        #circle-3 {
          left: -84px;
        }
      }

      .square {
        img {
          min-width: 146px;
          top: -64px;
          left: -20px;
        }
      }

      .milks {
        img {
          min-width: 112px;
          top: 0;
          left: -18px;
        }
  
        #milk-1,
        #milk-2 {
          left: 30px;
        }
  
        #milk-1 {
          min-width: 174px;
          top: 0;
        }
  
        #milk-2 {
          min-width: 200px;
          top: 0;
        }

        #milk-3 {
          left: 80px;
        }

        #milk-4 {
          left: 40px;
        }

        #milk-5 {
          left: 0;
        }

        #milk-6 {
          left: -40px;
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
  .swiper-jumbotron {
    // height: 90vh;

    .slide {
      // height: 85vh;

      .row-padre {
        & > div:first-child {
          height: 85vh;
        }
  
        & > div:last-child {
          height: 85vh;

          .row {
            // height: 35vh;
          }
        }

        .milks {
          height: 70vh !important;
        }
      }

      .circle {        
        img {
          min-width: 196px;
          top: 132px;
          left: 0;
        }

        #circle-1 {
          left: 84px;
        }

        #circle-2 {
          
        }

        #circle-3 {
          left: -84px;
        }
      }

      .square {
        img {
          min-width: 170px;
          top: -30px;
          left: -32px;
        }
      }

      .milks {
        img {
          min-width: 112px;
          top: 0;
          left: -18px;
        }
  
        #milk-1,
        #milk-2 {
          left: 45px;
        }
  
        #milk-1 {
          min-width: 174px;
          top: 0;
        }
  
        #milk-2 {
          min-width: 200px;
          top: 0;
        }

        #milk-3 {
          left: 80px;
        }

        #milk-4 {
          left: 40px;
        }

        #milk-5 {
          left: 0;
        }

        #milk-6 {
          left: -40px;
        }
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
  .swiper-jumbotron {
    .slide {
      .square {
        img {
          min-width: 196px;
          top: -16px;
          left: -32px;
        }
      }

      .milks {
        #milk-1,
        #milk-2 {
          left: 78px;
        }
      }
    }
  }
}