// Bootstrap
$primary: rgb(12, 53, 86);
$secondary: #EB1C23;
$white: #fff;

// Backgrounds
$bg-primary: $primary;
$bg-secondary: $secondary;
$bg-white: #fff;

// Texts
$text-primary: $primary;
$text-secondary: $secondary;
$text-white: #fff;