.modal {
    .modal-content {
        padding: 60px !important;

        .modal-body {
            @include background('../images/bg-modal.png', center, cover);
            border-radius: 25px;
            color: $text-white;
        }
    }
}