.modal {
    .modal-content {
        padding: 0px 60px 60px;

        .modal-header {
            @include font-size(1.4rem);
            border-bottom: none;
            padding: 25px 0;
        }

        .modal-body {
            @include background('../images/bg-modal.png', center, cover);
            border-radius: 25px;
            color: $text-white;
        }
    }
}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {
    .modal {
        .modal-content {
            padding: 0px 60px 60px;
    
            .modal-header {

            }
    
            .modal-body {
                padding: 16px 60px;

                img {
                    max-width: 300px;
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {

}

@include media-breakpoint-up(xxl) {

}